@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'fredoka';
    src: url('./components/secondFont/SF-Pro-Display-Regular.ttf');
}

html {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'fredoka';
}



@keyframes bounceWithDelay {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .custom-delay-1 {
    animation: bounceWithDelay 0.8s ease-out 0.5s forwards;
  }
  
  .custom-delay-2 {
    animation: bounceWithDelay 0.8s ease-out 1s forwards;
  }
  

  @keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

